<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyCV</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="/css/skinColor/green.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" class="alternate-style" title="purple" href="~/css/skinColor/purple.css" type="text/css" disabled>
    <link rel="stylesheet" class="alternate-style" title="yellow" href="~/css/skinColor/yellow.css" type="text/css" disabled>
    <link rel="stylesheet" class="alternate-style" title="green" href="/~css/skinColor/green.css" type="text/css" disabled>
    <link rel="stylesheet" class="alternate-style" title="blue" href="~/css/skinColor/blue.css" type="text/css" disabled>
    <link rel="stylesheet" href="~/css/colorSwitcher.css" type="text/css">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css2?family=Rubik:wght@500;700;900&display=swap" rel="stylesheet" />

    @RenderSection("heads", required: false)
    @RenderSection("css", false)
</head>

<body>
    @RenderBody()
    <div class="main-container">
        <!--Aside-->
        <div class="aside">
            <!--Logo-->
            <div class="logo">
                <a asp-area="" asp-controller="Home" asp-action="Index">SALWA</a>
            </div>
            <!--Nav toggler Btn-->
            <div class="nav-toggler">
                <span></span>
            </div>
            <!--Nav-->
            <ul class="nav">
                <li><a asp-area="" asp-controller="Home" asp-action="Index" class="active"><i class="fa fa-home"></i> Hem</a></li>
                <li><a asp-area="" asp-controller="About" asp-action="About"><i class="fa fa-user"></i> Om mig</a></li>
                <li><a asp-area="" asp-controller="Contact" asp-action="Contact"><i class="fa fa-comments"></i> Kontakta mig</a></li>
            </ul>
        </div>
        <!--Aside end-->
    </div>

    <!-- Live Color Switcher-->
    <div class="style-switcher">
        <div class="toggle-style-switcher">
            <i class="fa fa-cog fa-spin"></i>
        </div>
        <h5>Style Switcher</h5>
        <ul>
            <li><a href="javascript:void(0);" title="purple" style="background-color: #c3b1e1" onclick="setActiveStyle('purple')"></a></li>
            <li><a href="javascript:void(0);" title="yellow" style="background-color: #ffbf00" onclick="setActiveStyle('yellow')"></a></li>
            <li><a href="javascript:void(0);" title="green" style="background-color: #6b9763" onclick="setActiveStyle('green')"></a></li>
            <li><a href="javascript:void(0);" title="blue" style="background-color: #a7c7e7" onclick="setActiveStyle('blue')"></a></li>
        </ul>
        <h5>Body Skin</h5>
        <label>
            <input type="radio" class="body-skin" name="body-style" value="light">
            Light
        </label>
        <label>
            <input type="radio" class="body-skin" name="body-style" value="dark">
            Dark
        </label>
    </div>
    <!-- Live Color Switcher-->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/skinColorSwitcher.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
